<div class="main-content">
    <div class="container-fluid">
        <div class="row content">
            <img src="/assets/img/home.jpg" alt="Background Image" class="background-image">
<!--            <div class="col-md-12">-->
<!--                <angular-d3-cloud-->
<!--                        [animations]="true"-->
<!--                        [data]="data"-->
<!--                        [width]="1200"-->
<!--                        [height]="400"-->
<!--                        [padding]="5"-->
<!--                        font="serif"-->
<!--                        [rotate]="0"-->
<!--                        [autoFill]="true"-->
<!--                        (wordClick)="onWorkClick($event)"-->
<!--                ></angular-d3-cloud>-->
<!--            </div>-->
        </div>
    </div>
</div>
